@font-face {
   font-family: "Open Sans Light";
   src: url("/EventSitePractice2016/resources/fonts/open-sans.light.ttf");
  }
  @font-face {
   font-family: "Open Sans Regular";
   src: url("/EventSitePractice2016/resources/fonts/open-sans.regular.ttf");
  }
  @font-face {
   font-family: "Open Sans Bold";
   src: url("/EventSitePractice2016/resources/fonts/open-sans.bold.ttf");
  }
  @font-face {
   font-family: "Open Sans Extrabold";
   src: url("/EventSitePractice2016/resources/fonts/open-sans.extrabold.ttf");
}
body {
    font-size: 16px;
}
.createEventClass{
	background-color: #EBF3F6;
}
.createEventClass .error{
       color: #1F3040;
       font-size: 2.5em;
       text-align: center; 
       font-family: 'Open Sans Bold';
}
.createEventClass #textbox{
   width: 100%;
   height: 3em;
   font-size: 1em;
   font-family: "Open Sans Light";
   border-width: 0px 0px 3px;
   border-bottom-color: black;
  }
  
.createEventClass #pac-input{
	width: 21em;
    margin-top: 0.5em;
    height: 2em;
    font-size: 1.5em;
    font-family: "Open Sans Light";
    border-width: 0px 0px 3px;
    border-bottom-color: black;
    padding-left:1em;
}
  .createEventClass #textboxCat{
   width: 100%;
   height: 3em;
   font-size: 1em;
   font-family: "Open Sans Light";
   border-width: 0px 0px 3px;
   border-bottom-color: black;
   margin-top:0.3em;
  }
  
 .createEventClass #textarea {
    width: 100%;
    height: 15em;
   border-width: 0px 0px 3px;
   border-bottom-color: black;
   margin-bottom : 1em;
   font-family: "Open Sans Light";
   font-size: 1em;
   margin-top: 1.5em;
    }
  
  .createEventClass #map-canvas{
    margin-top:1em;
    width:100%;
    height:18em;
}
.createEventClass #span{
    color: #B4BEC0;
    font-size: 0.75em;
}
.createEventClass #spanLoc{
    color: #1F3040;
    font-size: 1.5em;
    font-family: "Open Sans Bold";
}

.createEventClass .mainCont{
    margin-right:auto;
    margin-left:auto;
    width: 51em;
    margin-bottom:2em; 
}
.createEventClass .headPic{
}
.createEventClass .title{
	width: 11.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-family: "Open Sans Bold";
    margin-bottom: 0.5em;
    color:#20384C;
}
.createEventClass .firstCont{
    width: 29em;
    margin-right : 2em;
    float: left;
}
.createEventClass .secondCont{
	margin-top:3em;
    width: 20em;
    float: right;
}
.createEventClass #headCont{
    width:100%;
    border-bottom: 2px none 
}
.createEventClass #firstDate{
   border-top-left-radius: 0.5em;
   border-top-right-radius: 0.5em;
   border-bottom-left-radius: 0.5em;
   border-bottom-right-radius: 0.5em;
   width: 100%;
   height: 3em;
   font-size: 1em;
   font-family: "Open Sans Bold";
   margin-bottom: 1em;
   border-width: 0px 0px 3px;
   margin-top: 0.45em;
   color: #A8AEAC;
   padding-left:1em;
}
.createEventClass #secondDate{
   border-top-left-radius: 0.5em;
   border-top-right-radius: 0.5em;
   border-bottom-left-radius: 0.5em;
   border-bottom-right-radius: 0.5em;
   width: 100%;
   height: 3em;
   font-size: 1em;
   font-family: "Open Sans Bold";
   border-width: 0px 0px 3px;   
   color: #A8AEAC;
   padding-left:1em;
   margin-top:0.45em;
}
.createEventClass #chooseDate{
    display: block;
    margin-top: 0em;
    color: #1F3040;
    font-size: 1.5em;
    font-family: "Open Sans Bold";
}
.createEventClass #catEvent,.createEventClass #addCat,.createEventClass #delCat{
    color: #1F3040;
    font-size: 1.5em;
    font-family: "Open Sans Bold";
    display: block;
    margin-top: 0.60em;
    margin-bottom: 0.50em;
    }
.createEventClass .flatpickr-calendar{
    font-family: "Open Sans Regular";
    font-size: 100%;
    width: 20em;
    color:#B4BEC0
}
.createEventClass #checkDiv{
    color: #A8AEAC;
    font-size: 1em;
    font-family: "Open Sans Bold";
}
.createEventClass #smallText{
    margin-left:2.1em;
    color: #B4BEC0;
    font-size: 0.75em;
}
.createEventClass .selectpicker{
   margin-top: 0.7em;
   width: 100%;
   height: 3em;
   font-size: 1em;
   font-family: "Open Sans Regular";
   border-width: 0px 0px 3px;
   border-bottom-color: black;
   color:#BCBEBD;
}
.createEventClass #bottomText{
    padding-top: 1.5em;
    display:table;
    text-align:center;
    width:100%;
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #B4BEC0;
    font-size: 1em;
}
.createEventClass #line{
    width:51em;
    border-color: #48D0BC;
    
}
.createEventClass #buttons{
	text-align: right;
    margin: 0em auto 2em auto;
    width: 51em;
    height: 3em;
   }
.createEventClass #cancel,.createEventClass #preview,.createEventClass #button{
    margin-left:1.2em;
    border:none;
    background-color: transparent;
    color: #939B9E;
    font-family: "Open Sans Bold";
    font-size: 1.2em;   
    padding-bottom:0.3em;
    padding-top:0.3em;
    padding-left:0.4em;
    padding-right:0.4em;
}
.createEventClass #cancel:hover,.createEventClass #preview:hover,.createEventClass #button:hover{
    background-color:#48D0BC;
    margin-left:1.2em;
    border:none;
    color: #939B9E;
    font-family: "Open Sans Bold";
    font-size: 1.2em;   
    padding-bottom:0.3em;
    padding-top:0.3em;
    padding-left:0.4em;
    padding-right:0.4em;
}
.createEventClass #buttonRemove{
    background-color: transparent;
    border:none;
    color: #939B9E;
    font-family: "Open Sans Bold";
    font-size: 1.2em;   
    margin-top: 0.5em;
    float:left;
    padding-bottom:0.3em;
    padding-top:0.3em;
    padding-left:0.4em;
    padding-right:0.4em;
}
.createEventClass #buttonRemove:hover{
    background-color: #48D0BC;
    border:none;
    color: #939B9E;
    font-family: "Open Sans Bold";
    font-size: 1.2em;   
    margin-top: 0.5em;
    float:left;
    padding-bottom:0.3em;
    padding-top:0.3em;
    padding-left:0.4em;
    padding-right:0.4em;
}

    