.disclaimerAndEULAContainer{
    background: rgba(43,110,131,0.5);
    padding: 5em;
    color: white;
}
#disclaimer, #EULA{
    margin-bottom: 5em;
}
.disclaimerAndEULAHeading h4{
    font-weight: 600;
}
.acceptButton, .acceptButton:hover{
    border:none;
    border-radius: 5px;
    background-color: #48D0BC;
    color: black;
    font-family: "Open Sans Bold";
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}
.acceptButton:hover{
    background-color:#ae6ee8;
    color: white;
}
