@font-face {
	font-family: "Open Sans Light";
	src: url(../fonts/open-sans.light.ttf);
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/open-sans.regular.ttf);
}

@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/open-sans.bold.ttf);
}

@font-face {
	font-family: "Open Sans Extrabold";
	src: url(../fonts/open-sans.extrabold.ttf);
}

.homePageContainer .list li a {
	list-style-type: none;
	float: right;
	display: block;
	color: #1E3346;
	text-align: center;
	font-family: 'Open Sans Bold';
	font-size: 20px;
	padding: 1em 1em;
	text-decoration: none;
	transform: skew(-15deg);
	padding-top: 3em;
	font-weight: bold;
	border-bottom: solid;
	border-bottom-width: 1em;
	border-bottom-color: white;
}

.homePageContainer .list li:first-of-type {
	float: left;
}

.homePageContainer .list li {
	float: right;
	list-style-type: none;
}

body .homePageContainer {
	font-family: "Open Sans Regular";
	font-size: 16px;
	margin: 0em;
	padding: 0em;
	overflow: hidden;
	list-style-type: none;
	background-color: #EBF3F6;
}

.homePageContainer .head {
	margin-left: auto;
	margin-right: auto;
	width: 70em;
	height: 7em;
}

.homePageContainer .container {
	margin-left: auto;
	margin-right: auto;
	width: 61em;
	padding: 0;
}

.homePageContainer .list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.homePageContainer .list li a:hover {
	border-bottom: solid;
	border-bottom-color: #01B49F;
	border-bottom-width: 1em;
	color: #1E3346;
}

.homePageContainer .list li a:active {
	background-color: #01B49F;
	color: white;
}

.homePageContainer #logo {
	float: left;
}

.homePageContainer #hero {
	width: 100%;
	margin-top: 0em;
	height: 25em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background: url("../images/hero_img.jpg");
}

.homePageContainer #create {
	display: inline;
	position: absolute;
	top: 4.5em;
	color: #EBF3F6;
	font-family: "Open Sans Bold";
	font-weight: lighter;
	font-size: 3.2em;
}

.homePageContainer #events {
	display: inline;
	position: absolute;
	top: 9em;
	text-align: center;
	color: #EBF3F6;
	font-family: "Open Sans Light";
	font-size: 2.1em;
}

.homePageContainer .lupa {
	height: 4em;
	padding-left: 2em;
	float: left;
	margin-top: 1.5em;
}

.homePageContainer input[type="text"] {
	width: 11em;
	height: 4em;
	border: none;
	vertical-align: text-bottom;
	margin-top: 1.5em;
}

.homePageContainer .search {
	position: absolute;
	z-index: -1;
}

.homePageContainer #searchbox {
	position: absolute;
	z-index: 0;
}

.homePageContainer .box {
	display: inline-block;
	position: relative;
	border-top: 0em;
	border-color: white;
	border-radius: 1em;
	background-color: white;
	height: 7em;
	top: -29em;
	width: 61em;
	margin-left: auto;
	margin-right: auto;
	line-height: 7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.homePageContainer .menu li:hover {
	border-bottom: solid;
	border-bottom-color: #AE6EE8;
	border-bottom-width: 0.5em;
	color: #AE6EE8;
}

.homePageContainer .menu li.active {
	border-bottom-width: 0.5em;
	border-color: #AE6EE8;
	background-color: #AE6EE8;
	color: white;
}

.homePageContainer .menu li {
	background-color: white;
	height: 7em;
	width: 10em;
	transform: skew(-15deg);
	float: right;
}

.homePageContainer .menu li.active a {
	color: white;
	padding-top:3em;
	padding-right: 1.5em
}

.homePageContainer .menu li a {
	list-style-type: none;
	color: #919B9A;
	float: right;
	display: block;
	text-align: center;
	font-family: 'Open Sans Bold';
	font-size: 20px;
	text-decoration: none;
	padding-top: 3em;
	font-weight: bold;
	padding-bottom: 0em;
	padding-right: 1em;
	padding-left: 1em;
	margin-top: -3em;
	position: relative;
	z-index: 12;
	border: none;
	border-right: 1px solid #919B9A;
}

.homePageContainer .menu li.last {
	margin-right: 2em;
}

.homePageContainer .menu li.last a {
	border: none;
}

.homePageContainer .menu li a:last-of-type:active {
	border-top-right-radius: 1em;
}

.homePageContainer .menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Open Sans Bold";
	width: 50em;
	float: right;
}

.homePageContainer .preview {
	background-color: #01B49F;
	height: 25em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: block;
}



.homePageContainer .content {
	width: 61em;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 2em;
}

.homePageContainer .event {
	width: 28.5em;
	height: 25em;
	margin-top: 2em;
	margin-bottom: 2em;
	float: left;
}

.homePageContainer .event:nth-child(even) {
	float: right;
}

.homePageContainer #eventFirstPart {
	width: 5em;
	/*height: 25em;*/
	float: left;
}

.homePageContainer #eventSecondPart {
	width: 23.5em;
	background: white;
	float: left;
}

.homePageContainer #eventSecondPart:hover {
	box-shadow: 0 0 2em #ccc;
}

.homePageContainer #eventThirdPart {
	width: 23.5em;
	height: 10.5em;
	background: url("../images/event_details.jpg");
	background-size: cover;
	background-position: center;
}

.homePageContainer #eventFourthPart {
	width: 23.5em;
	/*height: 12.5em;*/
	padding: 1em;
	float: left;
}

.homePageContainer .eventDate {
	text-align: center;
	margin: 0;
}

.homePageContainer .eventDate.month {
	font-size: 1em;
	line-height: 1.4em;
}

.homePageContainer .eventDate.day {
	font-size: 3.5em;
	font-weight: bold;
	line-height: 0.8em;
}

.homePageContainer .eventTitle {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 26em;
    max-height: 2.5em;
	margin: 0;
	font-size: 2em;
	word-wrap: break-word;
}

.homePageContainer .eventLocation {
	font-weight: bold;
}

.homePageContainer .eventLocation img.eventPin {
	height: 0.75em;
}

.homePageContainer .eventTime {
	font-weight: bold;
	margin-bottom: 2em;
}

.homePageContainer .noUnderline {
	text-decoration: none;
}

.homePageContainer .eventDateLine {
	width: 3.5em;
	margin-top: 1em;
    margin-bottom: 1em;
	/*color: #01B49F;*/
	border-style: solid;
    border-color: #01B49F;
}

.homePageContainer .eventJoin {
	width: 14.4em;
	background-color: #ff3da0;
	color: white;
	padding: 1em 3em;
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
	border: 0.2em;
	border-radius: 0.5em;
	right: 0;
	font-family: "Open Sans Bold";
	text-decoration: none;
}
	
.homePageContainer .eventLink {
	float: right;
	color: #01B49F;
	text-decoration: none;
	margin-top: 0.7em;
}
	
	
.homePageContainer .small-text{
	font-size: 0.7em;
	margin-top: -1em;
	display: block;
	height: 1em;
	text-align: left;
	font-weight: normal;
}