ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 46px;
	background-color: #555;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li #logo {
	padding: 0;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

code {
	background-image: url("../images/meetingNoImage.jpg");
	border-radius: 6px;
	color: #fff;
	display: block;
	font: 38px/0px Times New Roman, "Source Code Pro", Inconsolata,
		"Lucida Console", Terminal, "Courier New", Courier;
	padding: 24px 15px;
	text-align: center;
	background-size: 300px;
	background-repeat: no-repeat;
	background-position-y: 20%;
	letter-spacing: .1em;
}

header, section, aside, footer {
	margin: 0 1.5% 24px 1.5%;
}

section {
	display: inline-block;
	width: 30%;
}