.mainContainerHristiyan {
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}
	.mainContainerHristiyan .otherContainer {
		margin-right: 0.5em;
		margin-left: 0.5em;
		float: left;
		width:16.5em;
		margin-bottom: 1em;
	}
	
	.mainContainerHristiyan .categoryImage {
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-color: none;
		width: 16.5em;
		height: 149px;
		
	}
	
	.mainContainerHristiyan .categoryName {
		margin-left:auto;
		margin-right:auto;
		display: block;
		background-color: white;
		width: 16.5em;
		margin-bottom: 0.5em;
		padding: 0.7em 0em;
	}
	
	.mainContainerHristiyan .heartImage {
		background-color: transparent;
		border: none;
		margin-left:0;
		width: 1.7em;
		height: 1.4em;
		z-index: 99999;
	}
	
	.mainContainerHristiyan #relativePosition{
		position: relative;
		top:0em;
		right: 0em;
	}
	
	.mainContainerHristiyan #absolutePosition {
		position: absolute;
		top: 0.2em;
		right: 0.8em;
	}
	
	.mainContainerHristiyan .heartImage  : hover {
		color: green;
	}
	

