
@font-face {
   font-family: "Open Sans Light";
   src: url(fonts/open-sans.light.ttf);
  }
  @font-face {
   font-family: "Open Sans Regular";
   src: url(fonts/open-sans.regular.ttf);
  }
  @font-face {
   font-family: "Open Sans Bold";
   src: url(fonts/open-sans.bold.ttf);
  }
  @font-face {
   font-family: "Open Sans Extrabold";
   src: url(fonts/open-sans.extrabold.ttf);
  }

    .list li a {
    list-style-type: none;
   float: right;
   display: block;
   color: #1E3346;
   text-align: center;
   font-family: 'Open Sans Bold';
   font-size: 20px;
   padding: 1em 1em;
   text-decoration: none;
   transform: skew(-15deg);
   padding-top: 3em;
   font-weight: bold;
    border-bottom: solid;
       border-bottom-width: 1em;
    border-bottom-color: white;


   
  }

.list li:first-of-type{
    float: left;

}

.list li{
    float:right;
     list-style-type: none;

}
body{
    font-size: 16px;
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
    list-style-type: none;

}
.head{
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    height: 7em;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 70em
}

 .list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
  }

    

 
    .list li a:hover {
   border-bottom: solid;
    border-bottom-color: #01B49F;
   border-bottom-width: 1em;
   color: #1E3346;

  }

  .list li a:active {
   background-color: #01B49F;
   color: white;
  }


  #logo{
      float:left;
  }
   #hero{
    width: 118.97em;
    margin-top: 2em;
    height: 30.4em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
}
   
   #create{
      display:inline;
	  position:absolute;
	  top:4em;
      color: #EBF3F6;
      font-family: "Open Sans Bold";
      font-weight: lighter;
      font-size: 64;
    

   }
     #events{
      display:inline;
	  position:absolute;
	  top:9em;
	  text-align:center;
      color:#EBF3F6;
      font-family: "Open Sans Light";
      font-size: 40;
   }

   .lupa{
       width: 4em;
       padding-left: 2em;
       padding-bottom: 1 em;
   }
      input[type="text"]{
       width: 35%;
       height: 3em;
       border: none;
       padding-top: 1.5em;
       padding-bottom: 1.5em;
       
       vertical-align: text-bottom
                  }

   .search{
        
         position:absolute;
         z-index: -1;

   }
   
   #searchbox{
       position:absolute;
       z-index: 0;
   }
   .box{
       display: inline-block;
       position:absolute;
       border-color: black;
       border-radius: 1em;
       background-color: white;
       height: 5em;
       top: 36.5em;
       width:70em;
       margin-left: auto;
       margin-right: auto;
	   line-height: 7em;
       
      
   }

    .menu li a:hover {
   border-bottom: solid;
    border-bottom-color: #AE6EE8;
   border-bottom-width: 1em;
   color: #AE6EE8;

  }
    
    .menu li a:active {
   background-color: #AE6EE8;
   color: white;
  }
   
  
  
    .menu li a{
   list-style-type: none;
    color: #919B9A;
   float: right;
   display: block;
   text-align: center;
   font-family: 'Open Sans Bold';
   font-size: 20px;
   text-decoration: none;
   transform: skew(-15deg);
   padding-top: 2.5em;
   font-weight: bold;
   padding-bottom: 0.3em;
   padding-right: 1em;
   margin-top: -3em;
   position: relative;
   z-index: 12;

   }
   .menu{
    list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
    font-family: "Open Sans Bold";
    width: 50em;
    float: right;

  }

		margin-right: auto;
		width: 51em;
	}
	
